# -*- coding: utf-8 -*-

# Title          : global_settings.py
# Description    : global configuration
# Author         : Stan Liu
# Date           : 20130307
# Dependency     : 
# usage          : import global_settings
# notes          : 

hardware_simulation = True