# -*- coding: utf-8 -*-

# Title          : global_settings.py
# Description    : calling functions in 8154.dll and 8158.dll of ADLink
# Author         : Stan Liu
# Date           : 20130307
# Dependency     : 
# usage          : import global_settings
# notes          : 

hardware_simulation = True