# -- coding: utf-8 --

# Title          : global_settings.py
# Description    : calling functions in 8154.dll and 8158.dll of ADLink
# Author         : Stan Liu
# Date           : 20130307
# Dependency     : 
# usage          : import global_settings
# notes          : 

motion_cfg = [ 
    (1, 'DI_CARD'),
    (3, 'DI_CARD'),
    (5, 'DI_CARD'),
    (7, 'DI_CARD'), 
    (9, 'DO_CARD'),
    (11, 'DO_CARD'),
    (13, 'DO_CARD'),
    (15, 'DO_CARD')
]

axis_cfg = {
    'axis_x':{
        'axis_id': 0,
        'motor_type': 'servo_type',
        'proportion': 200,
        'accelerative_time': 0.3,
        'ABSM': 122,
        'ABSR': 123,
        'TLC': 124,
        'DO1': 122,
        'ZSP': 123,
        'scope_min': 5,
        'scope_max': 400
    },
    'axis_y':{
        'axis_id': 1,
        'motor_type': 'servo_type',
        'proportion': 200,
        'accelerative_time': 0.3,
        'ABSM': 125,
        'ABSR': 126,
        'TLC': 127,
        'DO1': 125,
        'ZSP': 126,
        'scope_min': 5,
        'scope_max': 400
    }
}

piston_cfg = {
    'piston1':{
        'action': 0,
        'on_sensor': 0,
        'off_sensor': 1
    },
    'piston2':{
        'action': 3,
        'on_sensor': 3,
        'off_sensor': 4
    }
}

xy_cfg = {
    'p1':{
        'x': 100,
        'y': 100
    },
    'p2':{
        'x': 200,
        'y': 100
    },
    'p3':{
        'x': 200,
        'y': 200
    }
}