.bbb { 
background-color : red; 
color: rgba(0, 255, 0, 90); 
font-size:30pt ;
}

.title_lable { 
background-color : lightblue; 
color: rgb(0, 0, 0); 
font-size:30pt ;
font-family: ms pmincho;
}
